{% extends 'Layout/column.html.twig' %}

{% block title %}Simple MVC | Workshop WCS{% endblock %}
{% block content %}
    <div class="text-center bg-light p-5">
        <h1>Workshop Simple MVC</h1>
        <p>Connect a user from database into PHP session</p>
        {% if user %}
            🥳
            <p>
                You are connected as <strong>{{ user.pseudo }}</strong>!
            </p>
            <a href="/logout"><i class="bi bi-box-arrow-right"></i> Logout</a>.
        {% else %}
            <a href="/login">Go to login page</a>
            or <a href="/register">register an account</a>.
        {% endif %}
    </div>
{% endblock %}
