.bg-img {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: .5;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://picsum.photos/800/450");
}
